Support for IMAP4rev2 (RFC 9051) / SMTPUTF8 (RFC 6531)

IMAP4rev2 is the latest revision of the IMAP protocol and brings a number of improvements, clarifications and standardisations compared to IMAP4rev1.

Why IMAP4rev2 is important:
1. IMAP4rev2 combines numerous extensions that were previously optional (e.g. ENABLE, UTF8=ACCEPT, LITERAL+, IDLE, etc.). .
2. Many older inconsistencies have been eliminated, simplifying implementations.
3. Modern mail servers (e.g. Dovecot, Cyrus) are already beginning to officially support IMAP4rev2.

Full support would make tokio-imap future-proof and standards-compliant.

Proposal:
1. Gradual implementation of the mandatory extensions
2. Possibly a feature flag imap4rev2 for gradual activation

References:
RFC 9051 – IMAP4rev2
RFC 3501 – IMAP4rev1
RFC 6531 – SMTPUTF8

Unless someone wants to fund work on this, I'm not motivated to spend a bunch of time on this. I could probably review some PRs as long as they're easy to review (meaning small commits).

How much would the work cost approximately? 

> How much would the work cost approximately?

Figuring that out is a process by itself that I probably won't be able to do unless funding is available.

Would €30 be enough to implement this?

No, it would probably take in the thousands of EUR.

Please provide support for this.

Ran into this today, fixed it locally, will try and clean it up and contribute it with a PR soon

Edit: Nevermind, my solution is too divergent and makes major change that are not compatible with the direction of the ecosystem

Edit: This was my solution, maybe other people will find it useful? https://github.com/steelbrain/daaki