Express nullability of LIST delimiter response

RFC 3501 [section 7.2.2](https://tools.ietf.org/html/rfc3501#section-7.2.2) states that:

> A NIL hierarchy delimiter means that no hierarchy exists; the name is a "flat" name.

Which implies that `MailboxDatum::List::delimiter` should be an `Option`. I assume the same also applies to `SubList::delimiter`.