Support parsing RFC822.TEXT

RFC 3501 [section 7.4.2](https://tools.ietf.org/html/rfc3501#section-7.4.2) defines a response type `RFC822.TEXT` as "equivalent to `BODY[TEXT]`", but currently that cannot be extracted through `imap-proto`.